body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.title {
  color: wheat;
  text-shadow: 0 0 8px gray, 0 0 12px gray, 0 2px gray;
}

.subtitle {
  color: whitesmoke;
  text-shadow: 0 0 8px gray, 0 0 12px gray, 0 2px gray;
}

.building {
  display: inline-block;
  position: relative;
  background-color: royalblue;
  height: 400px;
  width: 200px;
  margin-top: 20px;
}

.logo-box {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 70px;
  width: 140px;
  background-color: white;
  border: 3px outset white;
}

.logo {
  background-image: url('j.jpg');
  background-size: 50px;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 10px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  filter: drop-shadow(4px 2px 0.5px dimgray);
}

.UA {
  margin-top: -25px;
  font-size: 45px;
}

.floors {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 280px;
  margin-left: 25px;
}

.floor {
  background-color: grey;
  height: 20px;
  width: 100%;
  margin-bottom: 5px;
}

.door {
  margin-top: 25px;
}

.door-left,
.door-right {
  background-color: grey;
  height: 55px;
  width: 20px;
  border: 2px inset white;
  display: inline-block;
}

.flagpole {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}

.flag {
  border: 3px outset white;
  height: 51px;
  width: 76px;
}

.colors {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.blue,
.red,
.white,
.yellow {
  height: 20px;
  width: 20px;
}

.blue {
  border-top: 25px solid blue;
  border-left: 25px solid transparent;
}

.red {
  border-bottom: 25px solid red;
  border-left: 25px solid transparent;
}

.white {
  border-top: 25px solid transparent;
  border-left: 30px solid white;
  border-bottom: 25px solid transparent;
}

.yellow {
  background-color: yellow;
  border-radius: 50%;
  border: 2px solid black;
}
